body{
    margin:0;
    font-family: Arial, sans-serif;

    background-image:url("https://images.unsplash.com/photo-1586773860418-d37222d8fce3?w=1200");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

.container{

    background:rgba(255,255,255,0.95);

    width:400px;

    padding:25px;

    border-radius:20px;

    text-align:center;

    box-shadow:0px 0px 20px rgba(0,0,0,0.3);
}

.logo{
    width:90px;
    margin-bottom:10px;
}

h1{
    color:#0066cc;
}

h2{
    color:#333;
}

input,
select,
button{

    width:100%;

    padding:12px;

    margin-top:10px;

    border-radius:8px;

    border:1px solid #ccc;

    box-sizing:border-box;
}

button{

    background:#28a745;

    color:white;

    border:none;

    font-size:16px;

    font-weight:bold;

    cursor:pointer;
}

button:hover{
    background:#218838;
}

#appointmentList{
    list-style:none;
    padding:0;
}

#appointmentList li{

    background:#f2f2f2;

    margin-top:10px;

    padding:10px;

    border-radius:8px;
}